.ad-holder, .ad-holder > div {
	width:100%;
}

.ad-holder {
	margin-top:20px;
}

.ad-holder {
	background: #a9d18e;
	border:1px solid #507e32;
}

.ad-body > .img-conteiner {
	width:30%;
	float:left;
	margin: 20px 5% 20px 5%;
}

.ad-body {
	margin-bottom: 30px;
}

.ad-body > .ad-info {
	width:59%;
	float:left;

}

.ad-body > .ad-info > div {
	width:100%;
}

.img-conteiner {
	margin-top:20px;
}

.img-conteiner > img {
	width: 66%;
	height:120px;
	margin: 20px 17% 20px 17%;
}

.ad-text {
	margin-top:20px;
}

.ad-text > p {
	padding: 10px
}

.ad-text, .img-conteiner, .ad-name > div:nth-child(2),
.ad-email > div:nth-child(2), .ad-phone > div:nth-child(2) {
	background: #c5e0b4;
    border:1px dotted #649b3f
}

.ad-info > div > div:first-child {
	width:15%;
}

.ad-info > div > div:nth-child(2) {
	width:83.6%;
}

.ad-info > div > div:first-child, .ad-info > div > div:nth-child(2) {
	padding: 3px;
	margin: 5px 0 5px 0;
}
.ad-header > div {
	font-size:20px;
	font-weight: bold;
	margin-top:10px;
}

.ad-header > div:first-child {
	width:75%;
	margin-left:2%;
}

.ad-header > div:nth-child(2) {
	width:22%;
}

.user-ad-holder {
	width:80%;
}

.user-ad-holder > .ad-body {
	border-right:1px solid green;
}

.user-ad-holder > div:first-child {
	width:70%;
	float:left;
}

.user-ad-holder > div:nth-child(2) {
	width:30%;
	float:left;
	margin-top:15px;
}

.user-ad-holder > div > div {
	width:100%;
	margin: 5px;
}

.user-ad-holder .btn, .user-ad-holder > div:nth-child(2) > div:nth-child(2) {
	margin-left: 10%;
	margin-right: 10%;
	width: 80%;
	display:inline-block;
}

.user-ad-holder > div:nth-child(2) > div:first-child,
.user-ad-holder > div:nth-child(2) > div:nth-child(2) {
	font-size:20px;
	text-align: center;
}

.user-ad-holder > div:nth-child(2) > div:nth-child(2) {
	padding: 3px;
	background: #c5e0b4;
	border: 1px dotted #649b3f;
}

#userAds-holder > .user-ad-holder:first-child {
	margin-top:11px;
}
#userAds-holder > div:first-child {
	width:100%;
	margin-left:30%;
}

.admin-ad-holder > div > div {
	width:100%;
}

.admin-ad-holder  .ad-info > div > div:nth-child(2) {
	background: #c5e0b4;
	border: 1px dotted #649b3f;
}

.admin-ad-holder > .ad-info > div > div > p {
	padding: 10px;
}

.admin-ad-holder > div:nth-child(2) .btn {
	width:20%;
	margin: 0 2% 20px 2%;
}