#home-view, #home-view > #filters > div > div > div {
	width:100%;
}

#home-view > #ads-holder, #home-view > #filters  {
	margin: 15px 2% 20px 2%;
	float:left;
}
#home-view > #ads-holder {
	width:96%;
}

#home-view > #filters {
	width:30%;
	position: absolute;
	right:0;
}

#home-view > #filters > div > div > div > div:nth-child(2) {
	display:none;
}
#home-view > #filters > div {
	width:48%;
	margin-left:1%;
	float:left;
}

#filters-controler {
	position: absolute;
	right:0;
	background: #a9d18e;
	border:1px solid #507e32;
	margin: 1px 2.6% 0 0;
	padding: 5px;
}
#home-view > #ads-holder > div {
	width:46%;
	margin: 0 2% 0 2%;
	float:left;
}

