/* Eric Meyer's Reset CSS v2.0 - http://cssreset.com */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}

div {
	display:inline-block;
}

body * {
	box-sizing:border-box;
}

button {
	cursor: pointer;
}

#main-wrapper, #main-wrapper > header, #main-wrapper > footer {
	width:100%;
	display:inline-block;
}
#main-wrapper > header , #main-wrapper > footer {
	text-align: center;
    background: #a9d18e;
    border: 1px solid #507e32;
    min-width: 750px;
}

#main-wrapper > header > div:first-child, #main-wrapper > footer > div:first-child{
	font-size: 25px;
	font-weight: bold;
	margin: 5px 0 5px 0;
}

#main-wrapper > header > div:nth-child(2) {
	float:right;
	padding-right:80px;
}

#main-wrapper > header > div:nth-child(2) > p,
#main-wrapper > header > div:nth-child(2) > button {
	display:inline-block;
	float:left;
	margin: 6px 0 6px 0;
}

#main-wrapper > header > div:nth-child(2) > p {
	font-size:18px;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	background: #c5e0b4;
	border: 1px dotted #649b3f;
}

#main-wrapper > header > div:nth-child(2) > button {
	background: #70ad47;
	border: 1px solid #639045;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
}

#main-wrapper > aside {
	width:16%;
	display:inline-block;
	margin: 1% 2% 1% 2%;
	float: left;
}

#main-wrapper > aside > div {
	width:100%;
	background: #a9d18e;
    border: 1px solid #507e32;
    margin-top: 15px;
}

#main-wrapper > aside > div > div {
	margin-left: 10%;
	margin-right:10%;
	width:80%;
}

#main-wrapper > aside > div > div > div {
	width:100%;
}

#main-wrapper > aside > div > div:first-child {
	font-size:23px;
	text-align: center;
	font-weight: bold;
	border-bottom: 2px solid #507e32;
	padding: 10px 0 10px 0;
}

#main-wrapper > aside > div:first-child .btn {
	background: #a9d18e;
	color:black;
	border-radius: 0;
    border:1px solid #a9d18e;	
    width:100%;
    text-align: left;
}
#main-wrapper > aside > div:first-child .btn:hover {
    background: #daa600;
    border:1px solid #7f6000;
}

.btn {
	padding: 10px 0 10px 2px;
	margin: 3px 0 3px 0;
	width:100%;
	background: #70ad47;
    border: 1px solid #639045;
    color:white;
	font-size:20px;
	border-radius: 10px;
	text-align: center;
	text-decoration: none;
	cursor: pointer;
	display: inline-block;
}

.btn:hover {
    background: #daa600;
    border:1px solid #7f6000;
}

#ng-view {
	width:79%;
	float:left;
}

.pager-holder {
	width:100%;
}

.pager > .btn {
	width:45px;
	float:left;
	border-radius: 0;
	cursor: pointer;

}

.pager > .btn:first-child  {
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
}

.pager > .btn:last-child {
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
}

.pager {
	margin-left:22%;
}

.softuni-select {
	border: 1px solid #111;
	background: transparent;
	width: 150px;
	padding: 5px 35px 5px 5px;
	font-size: 16px;
	border: 1px solid #ccc;
	height: 34px;
	outline: 0;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background: url('../img/softuni-select.png') 96% / 30% no-repeat #eee;
} 
