<div class="admin-users-holder">
	<table ng-table class="table">
		<tr>
			<td ng-click="adTownsCtrl.sortBy('id')">Id</td>
			<td colspan="3" ng-click="adTownsCtrl.sortBy('username')">Town</td>
			<td>Action</td>
		</tr>
		<tr ng-repeat="town in adTownsCtrl.towns">
		    <td ng-bind="town.id"></td>
		    <td ng-bind="town.username" colspan="3"></td>
			<td>
				<a ng-href="#/admin/town/edit/{{town.id}}">Edit</a>
				<a ng-href="#/admin/town/delete/{{town.id}}">Delete</a>
			</td>
		</tr>
    </table>
    <div><a class="btn" ng-href="#/admin/town/create">Create Town</a></div>
</div>