<div id="home-view">
	<div>
		<select ng-model="adHomeCtrl.selectedTown" ng-change="adHomeCtrl.update()" class="softuni-select">
			<option ng-repeat="town in adHomeCtrl.towns" ng-value="town.id" ng-bind="town.name" ng-selected="town.id == 0"></option>
		</select>
		<select ng-model="adHomeCtrl.selectedCat" ng-change="adHomeCtrl.update()" class="softuni-select">
			<option ng-repeat="category in adHomeCtrl.categories" ng-value="category.id" ng-bind="category.name" ng-selected="category.id == 0"></option>
		</select>
		<select ng-model="adHomeCtrl.selectedStatus" ng-change="adHomeCtrl.update()" class="softuni-select">
			<option value="-1" selected >All</option>
			<option value="2">Published</option>
			<option value="1">Waiting Approval</option>
			<option value="0">Inactive</option>
			<option value="3">Rejected</option>
		</select>
	</div>
	<div id="ads-holder">
		<adminad ng-repeat="ad in adHomeCtrl.ads" data="ad" approve="adHomeCtrl.approve(id)"  reject="adHomeCtrl.reject(id)" ></adminad>
	</div>
	<div class="pager-holder">
		<div class="pager">
			<div ng-click="adHomeCtrl.changePage('prev')" class="btn">Prev</div>
			<div ng-repeat="i in adHomeCtrl.pages" ng-bind="i" ng-click="adHomeCtrl.changePage(i)" class="btn"></div>
			<div ng-click="adHomeCtrl.changePage('next')" class="btn">Next</div>
		</div>
	</div>
</div>