<div class="admin-users-holder">
	<table ng-table class="table"  style="float:left">
		<tr>
			<td ng-click="adCatCtrl.sortBy('id')">Id</td>
			<td colspan="3" ng-click="adCatCtrl.sortBy('username')">Name</td>
			<td>Actions</td>
		</tr>
		<tr ng-repeat="category in adCatCtrl.categories">
		    <td ng-bind="category.id"></td>
		    <td ng-bind="category.username" colspan="3"></td>
			<td>
				<a ng-href="#/admin/category/edit/{{category.id}}">Edit</a>
				<a ng-href="#/admin/category/delete/{{category.id}}">Delete</a>
			</td>
		</tr>
    </table>
     <div  style="float:left"><a class="btn" ng-href="#/admin/category/create">Create Category</a></div>
</div>